.horizontal {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #aaa;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.horizontal span {
  background: #fff;
  padding: 0 10px;
}

#fullBtn {
  width: 100%;
}

.ComponentBox {
  display: flex;
  justify-content: center;
  align-items: center;

  //min-height: 80%;
  //min-width: 80%;
  //background-color: rgba(128, 128, 128, 0.2);
}

#center {
  margin: auto;
}
#Form {
  width: 60%;
  margin: auto;
  min-height: 70vh;
}

.Box {
  display: flex;
  justify-content: center;
  padding: 50px;
}

#pre {
  white-space: pre-wrap;
}

#halfBtn {
  width: 80%;
  margin: auto;
}

.errorMessageWrap {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}

.introBtn {
  //margin: 20px;
  border-radius: 8px;
  width: 40vh;
}

.introBox {
  display: flex;
  justify-content: center;
  //align-items: flex-end;
  //min-height: 20vh;
  position: absolute;
  bottom: 0;

  left: 0;
  right: 0;
}

.travelBtn {
  margin: 8px;
  border-radius: 8px;
  justify-content: center;
}

.center {
  display: flex;

  margin: 35%;
  width: 30%;
}

.register {
  border-radius: 8px;
}

.imgBox {
  display: flex;
  flex-direction: column;

  padding: 5%;
  //text: center;
  justify-content: center;
  //min-height: 100%;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.2);
}
.imgBtnBox {
  display: flex;
  padding: 4%;
  justify-content: center;
}
.marginRight {
  margin-right: 20px;
}

.marginLeft {
  margin-left: 20px;
}
img {
  border-radius: 8px;
}

nav {
  margin: 5px;
}

.guideFont {
  font-size: 20px;
  font-style: bold;
}
