.horizontal {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #aaa;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.horizontal span {
  background: #fff;
  padding: 0 10px;
}

.ComponentBox {
  display: flex;
  justify-content: center;
}

#center {
  margin: auto;
}
#Form {
  width: 60%;
  margin: auto;
  min-height: 70vh;
}

.Box {
  display: flex;
  justify-content: center;
  padding: 5%;
}

#pre {
  white-space: pre-wrap;
  margin: 5% auto;
}

#halfBtn {
  width: 80%;
  margin: auto;
}

.errorMessageWrap {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}

.introBtn {
  border-radius: 8px;
  width: 40vh;
}

.imgBox {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  padding: 3%;
  padding-top: 1;
  padding-bottom: 0;
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.2);
  align-items: center;
  max-width: 87%;
  margin-left: auto;
  margin-right: auto;
  min-height: 70vh;
  height: auto;
  //max-height: 706.77px;
}
.imgBtnBox {
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: center;
}
.marginRight {
  margin-right: 20px;
}

img {
  border-radius: 8px;
}

nav {
  margin: 1vh;
  margin-bottom: 0;
}

.image-Item {
  display: flex;
  padding-right: auto;
  padding-left: auto;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  //max-height: 591.75px;
}

.loadingStyle {
  margin: auto;
  justifycontent: center;
  width: 80%;
  margin-bottom: 2%;
}

.UpdateBox {
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.2);
  max-width: 87%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  height: auto;
}

.UpdateUserNameBox {
  padding-top: 0;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.2);
  max-width: 87%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  height: auto;
}
.UpdatePwBox {
  padding-top: 0;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.2);
  max-width: 87%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  height: auto;
}
#radius {
  border-radius: 8px;
}
.updateForm {
  display: flex;
  flex-direction: column;
  margin: 5% 5%;
}

.updateBtn {
  border-radius: 8px;
}

#exitBtn {
  height: 3vh;
  width: 3vh;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  background-color: transparent;
  font-size: 20px;
}

.setCenter {
  display: flex;
  justifycontent: center;
}

#setCenter {
  display: flex;
  justifycontent: center;
}

.setMap {
  padding: auto;
  margin: auto;
}

#fullBtn {
  width: 100%;
  border-radius: 8px;
}

.TravelBox {
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.2);
  max-width: 87%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  height: auto;
}
.travelBtn {
  border-radius: 8px;
  min-width: 20vh;
  margin: auto;
  width: 30%;
}
.travelForm {
  display: flex;
  flex-direction: column;
  margin: 5% 5%;
}

html {
  background-color: rgba(255, 255, 240, 0);
}
