.horizontal {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #aaa;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.horizontal span {
  background: #fff;
  padding: 0 10px;
}

#fullBtn {
  width: 100%;
}

.ComponentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

#center {
  margin: auto;
}
#Form {
  width: 60%;
  margin: auto;
  min-height: 70vh;
}

.Box {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.pre {
  white-space: pre-wrap;
}

#halfBtn {
  width: 80%;
  margin: auto;
}

.errorMessageWrap {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}

.introText {
  display: flex;
  padding: 10vh;
  text: center;
  justify-content: center;
}
.introBtn {
  margin: 8px;
  border-radius: 8px;
}

.bottom {
  width: 40%;
  height: 48px;
  border: none;
}

.introBox {
  display: flex;
  justify-content: center;
  padding: 50px;

  height: px;
}

.travelBtn {
  margin: 8px;
  border-radius: 8px;
  justify-content: center;
}

.center {
  display: flex;

  margin: 35%;
  width: 30%;
}
