.horizontal {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #aaa;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.horizontal span {
  background: #fff;
  padding: 0 10px;
}

#fullBtn {
  width: 100%;
}

.ComponentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
#center {
  justify-content: center;
}
#Form {
  width: 60%;
  margin: auto;
  min-height: 70vh;
}
